.logoutIconBox {
    text-align: center;
}

.logoutIcon {
    color: rgb(255, 119, 1);
}

.logoutDescription {
    text-align: center;
    color: #888;
}

.logoutBoxButton {
    text-align: center;
    margin-top: 18px;
}

.keluar:hover {
    color: #222;
}